<div class="container dashboard">
    <div class="content">
        <div class="row full-width-row">
            <div class="col-12 full-width-col" style="height: 67px;">
                <app-header class="bg-white" style="height: 67px;"></app-header>
            </div>
            <div class="col-12" *ngIf="successMsg">
              <h2 class="sucess">{{successMsg}}</h2>
            </div>
            <div class="col-12">
                <div class="p-2">
                    <h1>User Registration</h1>
                        <div class="icon mt-5 mb-5"><fa-icon [icon]="['fas', 'user-circle']" size="5x" class="fa-user-circle"></fa-icon></div>
                        <form class="login-form p-3 border" (ngSubmit)="submitForm()" [formGroup]="registrationForm">
                            <ngb-alert *ngIf="error" type="danger" (close)="error = null">{{ error }}</ngb-alert>
                            <ngb-alert class="text-center" *ngIf="errorMsg" type="danger" (close)="errorMsg = null">{{ errorMsg }}</ngb-alert>
                            <div *ngFor="let validation of account_validation_messages.userName">
                                <h5 class="text-danger" *ngIf="hasError && registrationForm.get('userName').hasError(validation.type)">{{validation.message}}</h5>
                            </div>
                            <div *ngFor="let validation of account_validation_messages.password">
                                <h5 class="text-danger" *ngIf="hasError && registrationForm.get('password').hasError(validation.type)">{{validation.message}}</h5>
                            </div>
                            <div class="form-group">
                              <label class="float-left" for="userName">Username</label>
                              <input class="form-control" type="userName" id="userName" formControlName="userName">
                            </div>
                            <div class="form-group">
                                <label class="float-left" for="password">Password</label>
                                <input class="form-control" type="password" id="password" formControlName="password">
                            </div>
                            <div class="form-group">
                                <label class="float-left" for="email">Email</label>
                                <input class="form-control" type="email" id="email" formControlName="email">
                            </div>
                            <div class="form-group">
                                <label class="float-left" for="company">Company Name</label>
                                <input class="form-control" type="text" id="company" formControlName="company">
                            </div>
                            <div class="form-group">
                                <label class="float-left" for="subId">Sub Id</label>
                                <input class="form-control" type="subId" id="subId" formControlName="subId">
                            </div>
                            <div class="form-group">
                                <label class="float-left" for="phone">Phone Number</label>
                                <input class="form-control" type="phone" id="phone" formControlName="phone">
                            </div>
                            <div class="form-group">
                                <label class="float-left" for="state">State</label>
                                <input class="form-control" type="state" id="state" formControlName="state">
                            </div>
                            <div class="form-group">
                                <label class="float-left" for="zipCode">Zip Code</label>
                                <input class="form-control" type="zipCode" id="zipCode" formControlName="zipCode">
                            </div>
                            <div class="form-footer-btns mt-2 mb-2">
                              <button type="submit" class="btn btn-block primary-btn" style="margin: 0px auto;">Register User</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
