
.voicemail-bold {
  font-weight: 700;
}

// ======= Table CSS =======
table {
  overflow-x: inherit;
}

.header-text {
  color: #216ba3;
  text-align: center;
}

.table th { border-top: none; }


.noVoicemailsContainer {
  height: 60px;
  
  p.noVms{
    margin-top: 1rem !important;
    vertical-align: middle;
  }
}
@media(max-width: 800px) {
  table {
    overflow-x: scroll;
  }
}