<div class="container dashboard" style="background-color:#F8F9FA">
    <div class="content mt-5">
        <div class="row">
            <div class="col-12 text-center">
              <div class="wrapper">
                <img class="status-page-image" src="/assets/images/batman.gif">
            
                <h1 class="not-supported-page-title">
                  Oh snap! We don't support this version of your browser, <em>and neither should you!</em>
                </h1>
            
                <p class="not-supported-intro">
                  You are visiting this page because we detected an unsupported browser. Your browser ({{browser}} Version: {{browserVersion}}) does not support security features that we require. We highly recommend that you update your browser. If you believe you have arrived here in error, please contact us at 1-855-244-7483.
                </p>
            
                <div class="browsers-container">
                  <h2 class="supported-intro">These are the ones we recommend:</h2>
            
                  <ul class="supported-browsers-list list-group">
                    <li class="supported-browsers-list-item browser-chrome list-group-item">
                      <div class="supported-browser-information">
                        Google Chrome
                      </div>
                      <div class="supported-browser-download">
                        <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank" rel="noopener">
                          Download latest
                        </a>
                      </div>
                      <div class="clearfix"></div>
                    </li>
                    <li class="supported-browsers-list-item browser-firefox list-group-item">
                      <div class="supported-browser-information">
                        Mozilla Firefox
                      </div>
                      <div class="supported-browser-download">
                        <a href="https://www.mozilla.org/firefox/all/" target="_blank" rel="noopener">
                          Download latest
                        </a>
                      </div>
                      <div class="clearfix"></div>
                    </li>
                    <li class="supported-browsers-list-item browser-safari list-group-item">
                      <div class="supported-browser-information">
                        Apple Safari
                      </div>
                      <div class="supported-browser-download">
                        <a href="https://support.apple.com/downloads/safari" target="_blank" rel="noopener">
                          Download latest
                        </a>
                      </div>
                      <div class="clearfix"></div>
                    </li>
                    <li class="supported-browsers-list-item browser-edge list-group-item">
                      <div class="supported-browser-information">
                        Microsoft Edge
                      </div>
                      <div class="supported-browser-download">
                        <a href="https://www.microsoft.com/en-us/windows/microsoft-edge" target="_blank" rel="noopener">
                          Download latest
                        </a>
                      </div>
                      <div class="clearfix"></div>
                    </li>
                  </ul>
                </div>
                <div class="browsers-container mt-5 mb-5">
                  <h2 class="supported-intro">For more information and to test your browser compatibility</h2>
                  <a class="btn btn-primary text-white" href="https://bestvpn.org/outdatedbrowser/en">Click Here</a>
              </div>
            </div>
        </div>
    </div>
</div>