<div class="container selective-call-forwarding">
    <app-six-dot-drag></app-six-dot-drag>
    <app-three-dot-component-menu component="{{component}}"></app-three-dot-component-menu>
    <div class="row configuration mb-2">
        <div class="col d-inline-flex">
            <app-tooltip-icon tooltipText="This feature allows the subscriber to temporarily block the line from receiving any incoming calls that are not specifically permitted by the subscriber. Outgoing calls can still be made as normal, but incoming calls from numbers that are not on the subscriber’s configured list are not connected. Instead the caller hears an announcement that the subscriber is not currently accepting calls."></app-tooltip-icon>
            <h5>Selective Call Acceptance</h5>
        </div>
        <div class="col-12">
          <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 text-left">
            <p>Enable</p>
          </div>
          <div class ="col-lg-4 text-right">
            <mat-slide-toggle
            [checked]="isEnabled"
            (change)="toggleEnabledStatus()">
            </mat-slide-toggle>
          </div>
    </div>
    <div class="row" *ngIf="isToggling" >
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <fa-icon [icon]="['fas', 'spinner']" size="lg" class="fa-spinner" spin="true"></fa-icon>
      </div>
    </div>
    <div class="row" *ngIf="!isToggling">
      <div *ngIf="isEnabled">
        <div class="col-12" *ngIf="!hasPhoneNumbers">
              <p class="text-center">No current numbers</p>
          </div>
        <div class="col-12" *ngIf="hasPhoneNumbers">
            <table class="table table-striped table-responsive">
              <thead>
                <tr>
                    <th scope="col" class="header-text">Numbers</th>
                    <th scope="col" class="header-text">Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tn of acceptedNumbers">
                  <td>
                    {{tn | phone: 'US'}}
                  </td>
                  <td (click)="deleteAcceptedNumber(tn)">
                      <fa-icon *ngIf="!isDeleting" [icon]="['fas', 'trash-alt']" size="lg" class="fa-trash-alt redOnHover"></fa-icon>
                      <fa-icon *ngIf="isDeleting" [icon]="['fas', 'spinner']" size="lg" class="fa-spinner" spin="true"></fa-icon>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="col-12 footerCol text-center mt-3">
          <ng-template #content let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Add Number To Selective Call Acceptance</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="row configuration ">
                        <div class="col-12">
                            <label class="label">Phone Number</label>
                            <input [(ngModel)]="selectiveCallAcceptanceNumber" [value]="selectiveCallAcceptanceNumber | phone: 'US'" class="form-control forwardEmail">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <div *ngIf="hasError" class="mr-auto">
                    <p class="text-danger">{{errorMsg}}</p>
                  </div>
                  <button class="btn btn-primary" (click)="setSelectiveCallAcceptanceNumber()">
                    <span *ngIf="!saving">Add Number</span>
                    <fa-icon *ngIf="saving" [ngClass]="{disabled: saving}" [icon]="['fas', 'spinner']" size="lg" class="fa-spinner" spin="true"></fa-icon>
                  </button>
                </div>
          </ng-template>
          <button type="button" (click)="openLg(content)" class="btn btn-primary">
              <fa-icon *ngIf="!saving" [ngClass]="{disabled: saving}" [icon]="['fas', 'plus']" size="lg" class="fa-plus mr-2"></fa-icon>
              <span *ngIf="!saving">Add Number</span>
              <fa-icon *ngIf="saving" [ngClass]="{disabled: saving}" [icon]="['fas', 'spinner']" size="lg" class="fa-spinner" spin="true"></fa-icon>
          </button>
        </div>
      </div>
    </div>
</div>
