.invoices{
    min-height: 95vh;
    height: 95vh;
}
.form-group-container{
    border: 1px solid #E1E8EF;
    height: 100%;
}
#page-content-wrapper{
    height: 87vh;
    overflow-y: scroll;
    overflow-x: hidden;
}