.smallText {
    font-size: smaller;
    margin-bottom: 5px;
}

hr {
    margin-bottom: 3px !important;
    margin-top: 0px !important;
}

.redOnHover:hover {
    color:red;
}

.yellowOnHover:hover {
    color:#ffd740;
}

.plus-circle:hover {
    color: #385F80;
}